.node {
  /*stroke: #fff;*/
  /*stroke: #888;*/
  stroke: #222;
  fill: #eee;
  stroke-width: 1.5px;
  /*cursor: move;*/
}

.group {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: move;
  opacity: 0.7;
}

.link {
  stroke: #7a4e4e;
  stroke-width: 3px;
  stroke-opacity: 1;
  marker-end: url(#end-arrow);
}

.link.type-parent1, .link.type-parent2 {
  stroke-width: 5px;
}

.link.type-master {
  stroke-width: 2px;
  stroke-dasharray: 4 4;
}

.link.type-master-head {
  stroke-dasharray: 10 10;
  stroke-width: 5px;
}

.g-label {
  /*fill: white;*/
  fill: #222;
  font-family: Verdana;
  font-size: 25px;
  text-anchor: middle;
  alignment-baseline: middle;
  cursor: move;
}

.g-link-label {
  /*fill: white;*/
  font-family: Verdana;
  font-size: 25px;
  text-anchor: middle;
  font-weight: bold;
  alignment-baseline: middle;
  fill: black;
  fill-opacity: 1;
  stroke: white;
  stroke-width: 0.9px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
}



.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
